@import "tailwindcss";

:root {
  --background: #f5f2f0;
  --foreground: #2A2522;
  --primary: #2A2522;
  --accent: #E5E5E5;
  --font-roboto: "Roboto", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Outfit", sans-serif;
  --font-jost: "Jost", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jost), var(--font-sans);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@theme inline {
  --font-serif: var(--font-serif);
  --font-sans: var(--font-sans);
  --font-jost: var(--font-jost);
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

h1, h2, h3 {
  font-family: var(--font-serif);
}
